<template name="login">
    <div class="login-box z-depth-3">
        <h4 class="card-title blue-text center-align">Logowanie</h4>
        <p id="badLogging" class="center-align red-text text-accent-3">Podano błędne dane logowania</p>
        {{#autoForm schema=userSchema id="loginForm" preserveForm="false" type="normal"}}
            <div class="row">
                <div class="input-field col s12">
                    {{> afQuickField name='username' class="input-field col s12"}}
                </div>
                <div class="input-field col s12">
                    {{> afQuickField name='password' type='password' class="input-field col s12"}}
                </div>
            </div>
            <div class="center-align">
                <button type="submit" class="waves-effect waves-light btn-large blue">Zaloguj</button>
            </div>
        {{/autoForm}}
    </div>
</template>